.title-post {
  font-size: 40px;
  text-align: center;
}

.image-post {
  text-align: center;
}

.image-post img {
  max-width: 600px;
  height: auto;
}

.post-content {
  overflow-wrap: break-word;
}
