.title-post {
  font-size: 40px;
  text-align: center;
}

.image-post {
  text-align: center;
}

.image-post img {
  max-width: 600px;
  height: auto;
}

.post-content {
  overflow-wrap: break-word;
}

.blog-page-posts {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
}

@media (max-width: 800px) {
  .container-blog {
    padding: 10px;
  }
}
