.cinthialandia {
  padding: 15px 0;
  text-align: center;
}

.cinthialandia img {
  width: 400px;
  height: auto;
}

.home-container-post {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 60px 80px;
  margin: 0 auto;
}

.home-container-repository-small {
  display: flex;
  max-width: 1200px;
  padding: 60px 80px;
  margin: 0 auto;
  justify-content: space-between;
}

.home-container-repository-small > * {
  width: calc(33.33% - 15px);
}

.home-title {
  text-align: center;
}

.index-container-bio {
  display: flex;
  align-items: center;
  padding: 50px 50px;
}

.bio-img {
  flex: 1;
  padding: 50px;
}

.info-bio {
  flex: 2;
}

.bio-img-img {
  width: 100%;
  max-width: 300px;
}

.home-button-visiting-blog {
  padding-left: 40px;
}

.conect-icons {
  display: flex;
  padding-top: 30px;
  font-size: 20px;
}

.conect-icons a {
  padding-right: 30px;
}

@media (max-width: 800px) {
  .home-container-post {
    padding: 30px 40px;
  }

  .home-container-repository-small {
    flex-direction: column;
    padding: 30px 40px;
  }

  .home-container-repository-small > * {
    width: 100%;
  }
  .index-container-bio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .info-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bio-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-bio .button-primary {
    margin: 15px 0;
  }

  .home-button-visiting-blog {
    margin: 15px 0;
  }

  .conect-icons {
    display: flex;
    justify-content: center;
  }

  .home-button-visiting-blog {
    padding-left: 0;
  }
}
