@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;600&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: $accent;
}
h1,
h3 {
  font-family: "Abril Fatface", cursive;
}
h2,
h4 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

@mixin button($background-color) {
  background-color: $background-color;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 6px 45px;
  border-radius: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.button-primary {
  @include button($primary-color);
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

header > * {
  flex: 1;
}

nav {
  display: flex;
  justify-content: center;
}

nav > * {
  margin: 0 20px;
}

.flag {
  display: flex;
  align-items: center;
}

.lang-select {
  display: flex;
  justify-content: center;
}

.flag img {
  width: 20px;
  height: auto;
  margin-right: 5px;
  display: block;
}

.nav-home {
  text-align: center;
}

.nav-home img {
  max-height: 70px;
}

.nav-button-mobile {
  display: none;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: none;
  }

  nav.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav.visible > * {
    margin: 5px;
  }

  .lang-select {
    display: none;
  }

  .lang-select.visible {
    display: flex;
    margin: 5px;
  }
  .nav-button-container {
    justify-content: space-between;
    padding: 0 10px;
  }

  .nav-button-mobile {
    display: flex;
    background: none;
    border: none;
    font-size: 20px;
  }
}
