.repository-container {
  display: flex;
  margin: 15px 0px;
  width: 100%;
}

.repository-photo {
  flex: 1;
}

.repository-photo img {
  width: 100%;
  display: block;
  margin: 0;
}

.repository-info-container {
  flex: 1;
  background-color: #1e3231;
}

@media (max-width: 800px) {
}
