@import "./variables.scss";

.repositorySmall-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  margin: 0 auto;
  margin: 15px 0px;
  color: white;
  text-align: center;
}

.repositorySmall-photo img {
  width: 100%;
  display: block;
  margin: 0;
}
